        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Home
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-home"></i> Home
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-info alert-dismissable">
                            <i class="fa fa-user"></i> Welcome, {T_USER}
                        </div>
                    </div>
                </div>
                <!-- /.row -->
		<script>
			$(document).ready(function() {
				var cup = $('#countUProxies');
				var cp = $('#countProxies');
				var lastChange = Date.now();
				
				var update = function() {
					if (lastChange + 5000 < Date.now()) {
						console.log("Change PULL");
						WSPull({T_SUB_SIZE_UPROXIES}, IntToBin(parseInt(cup.text()), 8));
						WSPull({T_SUB_SIZE_PROXIES}, IntToBin(parseInt(cp.text()), 8));
					}
				}
				var updateLoop = function() { update(); setTimeout(updateLoop, 5000); };
				updateLoop();
				
				WSInitialize({T_SUB_SIZE_UPROXIES} | {T_SUB_SIZE_PROXIES}, "{T_SUB_AUTH_COOKIE}", function(sub, data) {
					var bs = new DataView(data);
					lastChange = Date.now();
					switch (sub) {
						case {T_SUB_SIZE_UPROXIES}:
							WSTextChange(cup, bs.getUint32(4), {T_SUB_MSG_INTERVAL});
						break;
						case {T_SUB_SIZE_PROXIES}:
							WSTextChange(cp, bs.getUint32(4), {T_SUB_MSG_INTERVAL});
						break;
					}
				});
			});
		</script>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-refresh fa-spin fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" id="countUProxies">{T_COUNT_UPROXIES}</div>
                                        <div>Unchecked proxies</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/ifaceu">
                                <div class="panel-footer">
                                    <span class="pull-left">View list</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-check fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" id="countProxies">{T_COUNT_PROXIES}</div>
                                        <div>Checked proxies</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/iface">
                                <div class="panel-footer">
                                    <span class="pull-left">View list</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
