        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Statistics</h1>
                    </div>
                </div>
                <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-globe"></i>
                                 Geographical distribution
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div id="regions_div" style="width: 100%"></div>
                        </div>
                        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
                        <script type="text/javascript">
                            google.load("visualization", "1", {packages:["geochart"]});
                            google.setOnLoadCallback(drawRegionsMap);
                            
                            function drawRegionsMap() {
                            
                                var data = google.visualization.arrayToDataTable([
                                    ['{T_STATS_GEO_HEAD}', '{T_STATS_GEO_HEAD}'],
                                    {T_STATS_GEO_TABLE_ITEMS_START}
                                    ['{T_STATS_GEO_ITEM}', {T_STATS_GEO_ITEM}],
                                    {T_STATS_GEO_TABLE_ITEMS_END}
                                ]);

                                var options = {};

                                var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

                                chart.draw(data, options);
                            }
                        </script>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Proxy count
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="CProxyCount"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <script>
                        $(document).ready(function() {
                            Morris.Area({
                                element: 'CProxyCount',
                                data: [{T_STATS_PCOUNT_ITEMS_START}{
                                    time: '{T_STATS_PCOUNT_ITEM}',
                                    1: {T_STATS_PCOUNT_ITEM},
                                    2: {T_STATS_PCOUNT_ITEM}
                                },{T_STATS_PCOUNT_ITEMS_END}],
                                xkey: 'time', // {T_STATS_PCOUNT_HEAD}
                                ykeys: ['1', '2'],
                                labels: ['{T_STATS_PCOUNT_HEAD}', '{T_STATS_PCOUNT_HEAD}'],
                                pointSize: 2,
                                hideHover: 'auto',
                                resize: true
                            });
                        });
                    </script>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
